-- query.sql
SELECT 1 AS facilityId,
       1 AS customerId,
       '2023-01-01 00:00:00' AS contractStartDate,
       '2023-12-31 23:59:59' AS contractEndDate,
       '2023-11-01' AS contractEndEngagementDate
FROM   contract;